body {
    padding: 0 14% 0 14%;
    /* background-color: #bbbdc9; */
    background-image: linear-gradient(210deg, #a4a7b5, #cdb2b2);
    font-family: Roboto, sans-serif;
    text-align: center;
}
h1 {
    font-weight: 700;
    padding: 10px;
}
p {
    font-weight: 400;
    line-height: 135%;
}
a:hover {
    color: rgb(174, 6, 174);
}
#imgContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}
#rotatableDisplay {
    width: 65%;
    max-width: 700px;
    height: auto;
    border: 2px solid #050561;
    border-radius: 5px;
}
.controls {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    justify-content: center;
}
.controls button {
    padding: 5px 15px 5px 15px;
    background-color: #2786a3;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin: 0 5px 0 5px;
    font-size: 20px;
}
.controls button:hover {
    background-color: blue;
}
#spinSpeedRange {
    visibility: hidden;
}